<div class="orderedItem" style="display: flex; justify-content: space-between; padding: 20px 10px;">
    <div id="orderedItem-group1" style="display: flex; margin-left: 20px;">
        <div id="orderedItem-count" style="margin-right: 10px; padding:5px; border: 2px solid black;">1</div>
        <div id="orderedItem-name" style="display: flex; align-items: center;">Name</div>
    </div>
    <div id="orderedItem-group2" style="display: flex; align-items: center;">
        <div id="orderedItem-cost" style="margin-right: 20px; ">X$</div>
    </div>

</div>


@code {

}
