@page "/Drinks"
@inject NavigationManager UriHelper

<div class="page-title">
    <h2>Order/Refill Drink</h2>
</div>


<div class="container-center">
    <div class="drink-item">
        <h4>Water</h4>
        <h3>$2</h3>
        <button class="refill-btn" @onclick="addToCart">Add</button>
    </div>
    <div class="drink-item">
        <h4>Sprite</h4>
        <h3>$3</h3>
        <button class="refill-btn">Add</button>
    </div>
    <div class="drink-item">
        <h4>Pepsi</h4>
        <h3>$3</h3>
        <button class="refill-btn">Add</button>
    </div>
    <div class="drink-item">
        <h4>Fanta</h4>
        <h3>$3</h3>
        <button class="refill-btn">Add</button>
    </div>
    <div class="drink-item">
        <h4>Root Beer</h4>
        <h3>$4</h3>
        <button class="refill-btn">Add</button>
    </div>
</div>


@code {
    private string parameter = "Water@2@1";

    private void addToCart()
    {
        if (UriHelper.Uri.Contains('@'))
        {
            String[] temp = UriHelper.Uri.Split('?');
            UriHelper.NavigateTo("/?" + temp[temp.Length - 1] + $"${parameter}", forceLoad: true);
        }
        else
        {
            UriHelper.NavigateTo($"/?{parameter}", forceLoad: true);
        }        
    }
}
