@page "/finished_lock_screen"

<PageTitle>lock screen</PageTitle>
<div class="lockscreen">
    <div class="empty_space"></div>
    <div class="notification">
        <h1>Enjoy your stay!</h1>
        <p>You can use the notification to request drink refills, request assistance from a server, or request your bill!</p>
        <p id="break_line">________________________________________________</p>
        <input type="button" value=@requestHelp @onclick="showNotification" />
        <input type="button" value=@requestBill @onclick="showBillNotification" />
        <input type="button" value="Order More" onclick="window.location.href='/';" />
    </div>

    <div class="notification" style=@displayStatus @onclick="hideNotification">
        <h1>Help is on the way</h1>
        <p>A server will be with you shortly. Thank you for waiting.</p>
    </div>

    <div class="notification" style=@billDisplayStatus @onclick="hideBillNotification">
        <h1>Bill is on the way</h1>
        <p>A server will bring you the bill shortly. Thank you for your visit.</p>
    </div>
</div>

@code {
    string displayStatus = "display: none;";
    string billDisplayStatus = "display: none;";
    string requestHelp = "Request Help";
    string requestBill = "Request Bill";


    private void hideNotification()
    {
        displayStatus = "display: none;";
    }

    private void showNotification()
    {
        if (requestHelp == "Request Help")
        {
            requestHelp = "Are you sure?";
        } else
        {
            displayStatus = "";
            requestHelp = "Request Help";
        }
    }

    private void hideBillNotification()
    {
        billDisplayStatus = "display: none;";
    }

    private void showBillNotification()
    {
        if (requestBill == "Request Bill")
        {
            requestBill = "Are you sure?";
        }
        else
        {
            billDisplayStatus = "";
            requestBill = "Request Bill";
        }
    }
}
