@page "/fries_description"
@inject NavigationManager UriHelper

<PageTitle>Fries</PageTitle>
<div id="description_screen">
    <div id="description_header">
        <h1>Fries</h1>
        <h2>$4</h2>
    </div>
    
    <img src="./images/fries.jpeg" id="image"/>
    <div id="description">
        <p>All our fries are made in-house and we use only the finest, locally grown potatoes. Try our house-made fries which offers a delicious and authentic Canadian taste!</p>
        <h2>Ingredients</h2>
         <ul>
            <li>salt</li>
            <li>cheese</li>
            <li>potato</li>
        </ul> 
        <h2>Dietary Considerations</h2>
        <p>Gluten Free</p>
        
        <h2>Item Customization</h2>
        <div id="checkbox">
            <input type="checkbox" id="item1" @onclick="toggleBox1">
            <label for="item1"> No salt </label><br>
            <input type="checkbox" id="item2" @onclick="toggleBox2">
            <label for="item2"> Waffle Fries </label><br>
            <input type="checkbox" id="item3" @onclick="toggleBox3">
            <label for="item3"> Ketchup </label><br><br />
        </div>
        
        <h2>Special Instructions</h2>
        <textarea type="text" id="special_instructions" placeholder="Insert Any Special Instructions"></textarea>
    </div>

    <div id="empty_space"></div>

    <div id="footer">
        <button id="decrement" @onclick="decrementCount">-</button>
        <label id="count"> @currentCount </label>
        <button id="increment" @onclick="IncrementCount">+</button> <br />
        
        <button id="cart" @onclick="addToCart">Add to cart</button>
    </div>
</div>

@code {
    private int currentCount = 1;
    private string parameter = "fries@4";

    private void addToCart()
    {
        parameter += "@" + currentCount;
        if(box1)
        {
            parameter += "@no_salt";
        }
        if(box2)
        {
            parameter += "@waffle_fries";
        }
        if (box3)
        {
            parameter += "@ketchup";
        }

        if (UriHelper.Uri.Contains('@'))
        {
            String[] temp = UriHelper.Uri.Split('?');
            UriHelper.NavigateTo("/?" + temp[temp.Length - 1] + $"${parameter}", forceLoad: true);
        }
        else
        {
            UriHelper.NavigateTo($"/?{parameter}", forceLoad: true);
        }

    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void decrementCount()
    {
        if(currentCount > 1)
            currentCount--;
    }

    private bool box1 = false;
    private bool box2 = false;
    private bool box3 = false;

    private void toggleBox1()
    {
        box1 = !box1;
    }
    private void toggleBox2()
    {
        box2 = !box2;
    }
    private void toggleBox3()
    {
        box3 = !box3;
    }

}