@page "/MenuFilters"

<div class="row align-content-center justify-content-between" style="padding: 0">
    <div class="col-auto">
        <button type="button" class="btn btn-primary">Reset</button>
    </div>
    <div class="col-auto align-self-center">
        <h6 class="text-center">5/30 Items</h6>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary">Confirm</button>
    </div>
</div>

<div>&nbsp</div>

<div class="container-fluid" style="padding: 0">
    <div class="h5">Category</div>
    <div class="list-group">
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/french-fries-svgrepo-com.svg" height="30" alt="..."> Appetizers</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/lunch-svgrepo-com.svg" height="30" alt="..."> Lunch</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/dinner-svgrepo-com.svg" height="30" alt="..."> Dinner</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/tiramisu-cake-1-svgrepo-com.svg" height="30" alt="..."> Desserts</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
    </div>
</div>

<div>&nbsp</div>

<div class="container-fluid" style="padding: 0">
    <div class="h5">Main Ingredient</div>
    <div class="list-group">
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/chicken-svgrepo-com.svg" height="30" alt="..."> Poultry</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/cow-svgrepo-com.svg" height="30" alt="..."> Beef</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/pig-svgrepo-com.svg" height="30" alt="..."> Pork</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/fish-svgrepo-com.svg" height="30" alt="..."> Seafood</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/vegetarian-food-svgrepo-com.svg" height="30" alt="..."> Vegetarian</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
    </div>
</div>

<div>&nbsp</div>

<div class="container-fluid" style="padding: 0">
    <div class="h5">Allergy Friendly</div>
    <div class="list-group">
        <label class="list-group-item">
            <div class="row justify-content-between">
                <div class="col"><img src="images/gluten-free.png" height="30" alt="..."> Gluten-Free</div>
                <input class="col-auto form-check-input me-1" type="checkbox">
            </div>
        </label>
    </div>
</div>

@code {

}