@page "/ordered_lock_screen"

<PageTitle>lock screen</PageTitle>
<div class="lockscreen">
    <div class="empty_space"></div>
    <div class="notification">
        <h1>Order ETA: @timeETA min</h1>
        <p>Your oder is on the way! Use the buttons below to request a Refill or request assistance from a server.</p>
        <p id="break_line">________________________________________________</p>
        <input type="button" value="Request Help" onclick="window.location.href='/request_help_lock_screen';" />
        <input type="button" value="Order Drink" onclick="window.location.href='/finished_lock_screen';" />
    </div>
</div>

@code {
    private int timeETA = 10;
}
