@page "/ReviewBill"
@inject NavigationManager NavigationManager

<div id="main-container" style="display: grid">
    <div id="title-container" style="display: flex; justify-content:center; margin-bottom: 20px;">
        <h3 style="margin-top: 20px; border-bottom: 2px solid black;">Your Bill</h3>
    </div>

    <MudDivider></MudDivider>
        <div class="OrderedItemsWrapper" hidden="!@itemsOrdered">
            <ByteSize.Components.OrderedItem></ByteSize.Components.OrderedItem>
            <ByteSize.Components.OrderedItem></ByteSize.Components.OrderedItem>
            <ByteSize.Components.OrderedItem></ByteSize.Components.OrderedItem>
        </div>
    <div hidden="@itemsOrdered" style="text-align: center; color:darkred">No items have been ordered yet!</div>
    <MudDivider></MudDivider>

    <div id="cost-calculation-holder" style="display:flex; justify-content:end;">
        <div id="cost-calculation" style="padding: 20px;">
            <div id="tax" style="text-align:end; padding-bottom: 5px">Tax: $0</div>
            <div id="GST" style="text-align:end;  padding-bottom: 5px; border-bottom: 1px dotted black;">GST: $0</div>
            <div id="Total-cost" style="font-weight: 600; font-size: larger; padding-top: 5px">Total: $0</div>
        </div>
    </div>
    
    <div id="request-bill-holder" style="display: flex; justify-content:center; padding: 15px;">
        <button @onclick="@NavigateToBillRequested" Style="width: 80%; height: 75px; font-size: 20px; border: none; border-radius: 25px; background-color: #1B6EC2; color:white;">Request Bill</button>
    </div>


</div>



@code {
    private void NavigateToBillRequested()
    {
        NavigationManager.NavigateTo("/BillRequested");
    }

    bool itemsOrdered = false;

    private void checkItemsOrdered()
    {
        //if (ItemsOrdered == true)
        //{
        //    noItemsOrdered = true;
        //}
    }
   
}
