h1 {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

p {
    color: black;
    text-align: left;
    width: 90%;
    margin-left: 5%;
}

input {
    margin-left: 0%;
    width: 20%;
}


img {
    display: block;
    margin: auto;
    width: 85%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#special_instructions {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    background-color: #8C97A9;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

button {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 6px;
    margin: 3px;
}

#empty_space {
    height: 100px;
}

h2 {
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#count {
    color: white;
}

#description_screen {
    margin: -24px;
}

#description_header {
    padding-top: 20px;
}
