@page "/wing_description"

<PageTitle>Steak</PageTitle>
<div id="description_screen">
    <div id="description_header">
        <h1>Wings</h1>
        <h2>$12.99</h2>
    </div>
    
    <img src="./images/wings.jpeg" id="image"/>
    <div id="description">
        <p>We use only the highest quality chicken and cook our wings to perfection to ensure that they're always tender and flavorful. And with a variety of dipping sauces available, you can customize your wings to your heart's content.</p>
        <h2>Ingredients</h2>
         <ul>
            <li>Chicken wings</li>
            <li>Salt</li>
            <li>Pepper</li>
        </ul> 
        <h2>Dietary Considerations</h2>
        <p>Gluten Free</p>
        
        <h2>Item Customization</h2>

        <div id="checkbox">
            <input type="checkbox" id="item1">
            <label for="item1"> No salt </label><br>
            <input type="checkbox" id="item2">
            <label for="item2"> Honey garlic sauce </label><br>
            <input type="checkbox" id="item3">
            <label for="item3"> Ketchup </label><br>
            <input type="checkbox" id="item4">
            <label for="item4"> Hot sauce </label><br><br />
        </div>
        
        <h2>Special Instructions</h2>
        <textarea type="text" id="special_instructions" placeholder="Insert Any Special Instructions"></textarea>
    </div>

    <div id="empty_space"></div>

    <div id="footer">
        <button id="decrement" @onclick="decrementCount">-</button>
        <label id="count"> @currentCount </label>
        <button id="increment" @onclick="IncrementCount">+</button> <br />
        
        <button id="cart">Add to cart</button>
    </div>
</div>

@code {
    private int currentCount = 1;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void decrementCount()
    {
        if(currentCount > 1)
            currentCount--;
    }
}