@inherits LayoutComponentBase

<div class="page">
    <main>
        @* Top horizontal nav bar *@
        <article class="content px-4">
            @* Force expanded navbar *@
            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    @* Restaurant icon *@
                    <a class="navbar-brand" href="#">
                        <img src="images/icon.svg" alt="" width="30" height="24">
                    </a>
                    @* Remaining navbar icons (will be right aligned) *@
                    <div class="nav navbar-nav navbar-right" id="navbarSupportedContent">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            @* Drinks button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" href="Drinks">
                                    <img src="images/drink-straw-svgrepo-com.svg" alt="" width="30" height="24">
                                    <div>Drinks</div>
                                </a>
                            </div>
                            @* Cart button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" href="Cart">
                                    <img src="images/cart-basket-ui-5-svgrepo-com.svg" alt="" width="30" height="24">
                                    <div>Cart</div>
                                </a>
                            </div>
                            @* Hamburger button *@
                            <div class="nav-item align-self-center">
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="images/hamburger-menu-svgrepo-com.svg" alt="" width="30" height="24">
                                </a>
                            </div>
                            @* <li class="nav-item dropdown"> *@
                            @*     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
                            @*         Dropdown *@
                            @*     </a> *@
                            @*     <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
                            @*         <li> *@
                            @*             <a class="dropdown-item" href="#">Action</a> *@
                            @*         </li> *@
                            @*         <li> *@
                            @*             <a class="dropdown-item" href="#">Another action</a> *@
                            @*         </li> *@
                            @*         <li> *@
                            @*             <hr class="dropdown-divider"> *@
                            @*         </li> *@
                            @*         <li> *@
                            @*             <a class="dropdown-item" href="#">Something else here</a> *@
                            @*         </li> *@
                            @*     </ul> *@
                            @* </li> *@
                        </div>
                    </div>
                </div>
            </nav>

            @* Popup triggered via Hamburger button *@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            @* Body of the page *@
            @Body
        </article>
    </main>
</div>