/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-xjx1n2dzz3] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 900px;
    max-width: 420px;
}

main[b-xjx1n2dzz3] {
    flex: 1;
}

.sidebar[b-xjx1n2dzz3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-xjx1n2dzz3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xjx1n2dzz3]  a, .top-row[b-xjx1n2dzz3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-xjx1n2dzz3]  a:hover, .top-row[b-xjx1n2dzz3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-xjx1n2dzz3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xjx1n2dzz3] {
        display: none;
    }

    .top-row.auth[b-xjx1n2dzz3] {
        justify-content: space-between;
    }

    .top-row[b-xjx1n2dzz3]  a, .top-row[b-xjx1n2dzz3]  .btn-link {
        margin-left: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbarToggler[b-7teph2e1kn] {
    border: none;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
.navbarToggler:active[b-7teph2e1kn] {
}

.nav-menu[b-7teph2e1kn] {
    background-color: black;
}

.langBtnContainer[b-7teph2e1kn]{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.langButton[b-7teph2e1kn]{
    color:blue;
}


.nav-content-holder[b-7teph2e1kn]{
    height: 75%;
}

.top-row[b-7teph2e1kn] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7teph2e1kn] {
    font-size: 1.1rem;
}

.oi[b-7teph2e1kn] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7teph2e1kn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.nav-item:first-of-type[b-7teph2e1kn] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-7teph2e1kn] {
    padding-bottom: 1rem;
}



.nav-item[b-7teph2e1kn]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
}

.nav-item[b-7teph2e1kn]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7teph2e1kn]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}



